<main>
    <div id="slider" class="slider">
        <figure>
            <img src="./assets/img/bienvenida.jpg">
            <img src="./assets/img/bienvenida2.jpg">
            <img src="./assets/img/bienvenida3.jpg">
            <img src="./assets/img/bienvenida4.jpg">
        </figure>
    </div>
    <div class="contenedor-masvistos">
        <div class="title">
            <h2>Lo mas visto</h2>
            <hr>
        </div>
        <div class="contenido">
            <div class="cursomasvisto">
                <a href="#">
                    <img src="./assets/img/video1.jpg">
                    <h4>Curso Valenciano C1</h4>
                </a>
            </div>
            <div class="cursomasvisto">
                <a href="#">
                    <img src="./assets/img/video2.jpg">
                    <h4>Curso Valenciano C2</h4>
                </a>
            </div>
            <div class="cursomasvisto">
                <a href="#">
                    <img src="./assets/img/video3.jpg">
                    <h4>Curso Primero ESO</h4>
                </a>
            </div>
        </div>
    </div>
</main>