<main>
    <div class="titulo-catalogo">
        <h1>CATALOGO DE CURSOS</h1>
        <hr>
    </div>
    <div class="menu-catalogo">
        <div class="opcion-navegador">
            <div class="opcion-img">
                <img src="./assets/img/valencia.jpg">
            </div>
            <div class="opcion-enlaces">
                <a class="opcion-valenciano-izq" href="#">Valenciano C1</a>
                <a class="opcion-valenciano-der" href="#">Valenciano C2</a>
            </div>
        </div>
        <div class="opcion-navegador">
            <div class="opcion-img">
                <img src="./assets/img/valencia.jpg">
            </div>
            <div class="opcion-enlaces">
                <a class="opcion-eso-izq" href="#">Primero ESO</a>
                <a class="opcion-eso-izq" href="#">Segundo ESO</a>
                <a class="opcion-eso-der" href="#">Tercero ESO</a>
                <a class="opcion-eso-der" href="#">Cuarto ESO</a>
            </div>
        </div>
        <div class="opcion-navegador">
            <div class="opcion-img">
                <img src="./assets/img/valencia.jpg">
            </div>
            <div class="opcion-enlaces">
                <a class="opcion-bachillerato" href="#">Letras</a>
                <a class="opcion-bachillerato-medio" href="#">Ciencias</a>
                <a class="opcion-bachillerato" href="#">Artes</a>
            </div>
        </div>
        <div class="opcion-navegador">
            <div class="opcion-img">
                <img src="./assets/img/valencia.jpg">
            </div>
            <div class="opcion-enlaces">
                <a class="opcion-accesos" href="#">Grado Medio</a>
                <a class="opcion-accesos-medio" href="#">Grado Superior</a>
                <a class="opcion-accesos" href="#">Universidad</a>
            </div>
        </div>
    </div>
</main>