<footer>
    <div class="footflex">
        <a href="home">
            <img class="footlogo" src="./assets/img/footlogo.png">
        </a>
        <div class="foot_opcion" href="#">{{derechosttle}}</div>
        <a class="foot_opcion" href="#">{{creadottle}}</a>
        <a class="foot_opcion" href="#">{{condicionesmaspoliticasttle}}</a>

        <a class="foot_redes" href="#">
            <img class="" src="./assets/img/facebook.png">
        </a>
        <a class="foot_redes" href="#">
            <img class="" src="./assets/img/twitter.png">
        </a>
    </div>
</footer>